/*Se a tela for menor que 768 px, o botão de alteração de layout não aparece.*/
@media (max-width: 768px)
{
  #alteraLayout
   {
     display: none;
   }
}

/*
PERSONALIZAÇÕES DE COR PADRÃO
*/

/* Plano de fundo */
body {
  background-color: #dbd2ce;
}

/* Barra de Menu - Fundo */
.navbar-default {
  background-image: linear-gradient(to bottom,#664a3c 0,#866758 100%);
  border-color: #564036;
}

.navbar-form .form-control {
  border-color: #564036;
}

/* Barra de Menu - Ícones */
.navbar-default .navbar-brand, .glyphicon-align-justify:before, .glyphicon-th:before, .glyphicon-question-sign:before {
  color: #fff;
  text-shadow: 0 1px 0 #564036;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #564036;
}

/* Barra de Menu - Posicionamento */
@media (min-width: 768px)
{
  .navbar-left {
    float: left!important;
    width: 33%;
    padding-top: 7px;
  }
}

/* Caixa de inserção de novo post-it */
.form-control {
  border-color: #866758;
}

/* Botões */
.btn-default {
  border-color: #564036;
  background-image: linear-gradient(to bottom,#866758 0,#664a3c 100%);
  color: #fff;
  text-shadow: 0 1px 0 #664a3c;
}

.btn-default:focus, .btn-default:hover {
  background-color: #564036;
  border-color: #564036;
  color: #b7a59d;
}

/* Post-Its */


.excluirPostIt {
  color: #bf0101;
}

/* Tinturas de Post-Its */
.botaoAmarelo {
  color: #e2d466;
}

.postItAmarelo {
  border-color: #e2d466;
  background-color: #faeb6f;
}

.botaoVerde {
  color: #00bb27;
}

.postItVerde {
  border-color: #00bb27;
  background-color: #32e556;
}

.botaoRosa {
  color: #ff4ec3;
}

.postItRosa {
  border-color: #ff4ec3;
  background-color: #fca4dd;
}

.botaoAzul {
  color: #4298d6;
}

.postItAzul {
  border-color: #4298d6;
  background-color: #67bbfb;
}
